@model eCMS.DataLogic.Models.CaseWorker
@using eCMS.BusinessLogic.Helpers
@using eCMS.DataLogic.Models
@using eCMS.Shared
@* This partial view defines form fields that will appear when creating and editing entities *@
@Html.HiddenFor(model => model.ID)
@Html.HiddenFor(model => model.CaseID)
@Html.HiddenFor(model => model.CreateDate)
@Html.HiddenFor(model => model.CreatedByWorkerID)
@Html.HiddenFor(model => model.IsActive)
<div class="col-md-12">
    <div class="form-group02">
        <label class="col-sm-4 control-label labe-text">
            <label>Assign Staff / Volunteer</label>
        </label>
    </div>
</div>
<div class="col-md-12">
    <div class="form-group02">
        <label class="col-sm-2 control-label labe-text">@Html.LabelRequiredFor(model => model.RoleID)</label>
        <div class="col-sm-4">
            @(Html.Kendo().DropDownListFor(model => model.RoleID)
                .OptionLabel(Constants.UIConstants.DropDownListDefaulLabel)
            .DataTextField("Text")
            .DataValueField("Value")
            .Events(e => e.Change("RoleDropDownList_OnChanged"))
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("LoadWorkerRoleByRegionProgram", "CaseWorker", new { caseID = Model.CaseID });
                });
            })
            )
        </div>
        <div class="col-sm-4">
            @Html.ValidationMessageFor(model => model.RoleID, "", new { @class = "text-danger" })
        </div>
    </div>
    
</div>
<div class="col-md-12">
    <div class="form-group02">
        <label class="col-sm-2 control-label labe-text">@Html.LabelRequiredFor(model => model.WorkerID)</label>
        <div class="col-sm-4">
            @(Html.Kendo().DropDownListFor(model => model.WorkerID)
            .OptionLabel(Constants.UIConstants.DropDownListDefaulLabel)
            .DataTextField("Text")
            .DataValueField("Value")
            .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("LoadWorkerAjax", "CaseWorker", new { caseID = Model.CaseID }).Data("CaswWorkerRoleDropDownList_OnSelect");
                    });
                })
            )
        </div>
        <div class="col-sm-4">
            @Html.ValidationMessageFor(model => model.WorkerID, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="form-group02">
        <label class="col-sm-2 control-label labe-text">@Html.LabelFor(model => model.IsPrimary)</label>
        <div class="col-sm-2">
            @Html.EditorFor(model => model.IsPrimary)
        </div>
        <div class="col-sm-4">
            @Html.ValidationMessageFor(model => model.IsPrimary, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
@*<div class="col-md-6">
        <div class="form-group02">
            <label class="col-sm-4 control-label labe-text">@Html.LabelFor(model => model.AllowNotification)</label>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.AllowNotification)
            </div>
            <div class="col-sm-8">
                @Html.ValidationMessageFor(model => model.AllowNotification, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>*@
@*<div class="row">
        <div class="col-md-6">
            @{
                string name = Html.NameFor(m => m.CaseWorkerNote).ToString();
                string prefix = Html.ViewContext.ViewData.TemplateInfo.GetFullHtmlFieldName(name);
                ViewDataDictionary viewData = new ViewDataDictionary(Html.ViewData)
                {
                    TemplateInfo = new TemplateInfo { HtmlFieldPrefix = prefix }
                };

                @Html.Partial("WorkNote", Model.CaseWorkerNote, viewData)
            }
        </div>
    </div>*@
<div class="col-md-12">
    <div class="form-group02">
        <label class="col-sm-2 control-label labe-text">@Html.LabelRequiredFor(model => model.CaseMemberList)</label>
        <div class="col-sm-4">
            @if (Model.CaseMemberList != null)
            {
                <div class="row" style="background-color:lightgray;border:1px solid black;">
                    <div class="col-sm-12">
                        <input type="checkbox" id="chkAllMembers" />
                        Family Member Name
                    </div>
                </div>
                foreach (SelectListItem caseMember in Model.CaseMemberList)
                {
                    string strChecked = "";
                    if (caseMember.Selected)
                    {
                        strChecked = "checked='checked'";
                    }
                    <div class="row" style="border-bottom: 1px solid black;border-left: 1px solid black;border-right: 1px solid black;">
                        <div class="col-sm-12">
                            <input type="checkbox" name="SelectedCaseMember" class="casemember" value="@caseMember.Value" @strChecked />
                            @caseMember.Text
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<div class="col-md-12">
    @*<button id="btnClearForm" type="reset" name="btnClearFormCaseWorker" class="btn btn-primary btnClear"><i class="fa fa-plus"></i>RESET</button>*@
    <div class="form-group02">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-1">
            <button type="submit" id="btnSaveCaseWorker" class="btn btn-primary"><i class="fa fa-plus"></i>Add</button>
        </div>
        <div class="col-sm-2">
            @*<button class="btn btn-primary" id="btnSave" name="btnSaveCaseMember"><i class="fa fa-save"></i> Save & Continue <i class="fa fa-arrow-left"></i></button>*@
            <a href="@Url.Action(Constants.Actions.Index, Constants.Controllers.CaseSummary, new { caseID = Model.CaseID})" class="btn btn-primary"><i class="fa fa-long-arrow-left"></i> Back to Case Summary</a>
        </div>
    </div>
    <div class="form-group02">

    </div>
</div>
<script>
    $(document).ready(function () {
        $("#chkAllMembers").on('click', function () {
            if (this.checked) {
                $('.casemember').each(function () {
                    this.checked = true;
                });
            } else {
                $('.casemember').each(function () {
                    this.checked = false;
                });
            }
        });

        $('.casemember').on('click', function () {
            checkAllItems();
        });
        function checkAllItems() {
            if ($('.casemember:checked').length == $('.casemember').length) {
                $('#chkAllMembers').prop('checked', true);
            } else {
                $('#chkAllMembers').prop('checked', false);
            }
        }

        checkAllItems();
    });

</script>
