@model eCMS.DataLogic.ViewModels.AssignmentModel
@using EasySoft.Helper;
@using eCMS.Shared;
@using eCMS.DataLogic.Models;
@using eCMS.DataLogic.ViewModels;
@{
    Model.IsAjax = true;
    ViewBag.Title = "Case Worker";
    //Layout = "~/Areas/CaseManagement/Views/Shared/_LayoutCase.cshtml";
    CaseWorker caseWorkerModel = Model.CaseWorker;
    CaseSupportCircle caseSupportCircle = Model.CaseSupportCircle;
}
@section headsection
{
    @Styles.Render("~/assets/plugins/kendo/css")
    @Scripts.Render("~/assets/plugins/kendo/js")
}

<div class="container bulk-import">
    <!-- begin: mainpage -->
    <div class="row margin-top-10">
        <div class="col-md-12">
            <div class="col-lg-12 col-md-11 ">
                <div class="row">
                    <div class="col-md-12 col-sm-12 candidate-on-map">
                        <div class="row">
                            <div class="col-md-12 font-13 text-uppercase" style="padding-top: 6px; padding-right: 0;">
                                <label>
                                    <img src="@Url.Content("~/Assets/images/lavel-side-icon.png")">
                                    <span>Case Worker Assignment</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.Partial(Constants.PartialViews.Alert)
                @using (Html.BeginForm("Create", "CaseWorker", new { area = "CaseManagement" }, FormMethod.Post, new { id = "frmEditorCaseWorker" }))
                {
                    <div id="divEditorCaseWorker">
                        @Html.Partial("_CreateOrEdit", caseWorkerModel)
                    </div>         
                }
               
            </div>
        </div>
    </div>
</div>

