@model eCMS.DataLogic.ViewModels.ChangePasswordModel
@using eCMS.Shared
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
}
<div class="margin-top-20">
@if (Model.IsFirstLogin)
{
    <h4>You must change your password on first logon</h4>
}
else
{
    <h2>Change your password</h2>
}
<div class="clearfix">&nbsp;</div>
@using (Html.BeginForm(Constants.Actions.ChangePassword, Constants.Controllers.Account, FormMethod.Post, new { id = "frmChangePassword" }))
{
    @Html.AntiForgeryToken()
    <div class="row" id="divAlert">
        @Html.Partial(Constants.PartialViews.Alert)
    </div>
    @Html.PasswordFor(model => model.CurrentPassword, new { placeholder = "Current Password", required = "required" })
    @Html.PasswordFor(model => model.NewPassword, new { placeholder = "New Password", required = "required" })
    @Html.PasswordFor(model => model.ConfirmPassword, new { placeholder = "Confirm Password", required = "required" })
    <div class="clearfix clearon">&nbsp;</div>
    <p class="text-right">
        <span class="text-left">
            <a href="@Url.Action(Constants.Actions.Login, Constants.Controllers.Account)">Do you want to Login?</a><br />
        </span>
        <input type="submit" value="Submit" />
        @if(!Model.IsFirstLogin)
        {
            if (ViewBag.IsRegionalAdministrator)
            {
                <a id="lnkCancel" href="@Url.Action(Constants.Actions.Index, Constants.Controllers.Worker, new { Area=Constants.Areas.WorkerManagement })">Home</a>
            }
            else
            {
                <a id="lnkCancel" href="@Url.Action(Constants.Actions.Index, Constants.Controllers.Case, new { Area=Constants.Areas.CaseManagement })">Home</a>
            }
        }
    </p>
}
</div>