@model eCMS.DataLogic.Models.CaseAssessment
@using EasySoft.Helper;
@using eCMS.Shared;
@using eCMS.DataLogic.Models;
@{
    ViewBag.Title = "Case Assessment & Issues";
    Layout = "~/Areas/CaseManagement/Views/Shared/_LayoutCase2.cshtml";
}
@section headsection
{
    @Styles.Render("~/assets/plugins/kendo/css")
    @Scripts.Render("~/assets/plugins/kendo/js")
}
<div class="container candidate-list-main-container">
    <div class="row">
        <div class="col-lg-12 col-md-11 candidate-table-bg">
            <div class="row">
                <div class="col-md-12 col-sm-12 candidate-on-map">
                    <div class="row">
                        <div class="col-md-12 font-13 text-uppercase" style="padding-top: 6px; padding-right: 0;">
                            <label>
                                <img src="@Url.Content("~/Assets/images/lavel-side-icon.png")">
                                <span>Issues / Assessments</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin-bottom-10">
                @using (Html.BeginForm(Constants.Actions.IndexAjax, Constants.Controllers.CaseAssessment, new { area = Constants.Areas.CaseManagement }, FormMethod.Post, new { id = "frmSearch" }))
                {
                    @Html.HiddenFor(model=>model.CaseID)
                    <div class="col-md-5">
                        @(Html.Kendo().DropDownListFor(model => model.CaseMemberID)
                                .OptionLabel(Constants.UIConstants.DropDownListDefaulLabel)
                                .Events(e=>e.Change("CaseMemberDropDownList_OnChanged"))
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("LoadCaseMemberListAjax", "CaseAssessment", new { caseID = Model.CaseID });
                                    });
                                })
                            )
                    </div>
                }
                <div class="col-md-2">
                    @if(Model.HasPermissionToCreate)
                    {
                        <a class="customButton col-sm-11 link-button" id="lnkNewAssessment" href="@Url.Action(Constants.Actions.Create, Constants.Controllers.CaseAssessment, new { CaseID = Model.CaseID, CaseMemberID=Model.CaseMemberID })" style="margin-left: 5px !important;">NEW ASSESSMENT</a>
                    }
                </div>
            </div>
            <div class="row">
                @(Html.Kendo().Grid<CaseAssessment>()
                        .Name("GridCaseAssessment")
                        .Columns(columns =>
                        {
                            columns.Bound(c => c.CaseMemberName).Sortable(true).Groupable(false).Filterable(false);
                            columns.Bound(c => c.StartDate).Sortable(true).Groupable(false).Filterable(false);
                            columns.Bound(c => c.AssessmentTypeName).Sortable(true).Groupable(false).Filterable(false);
                            columns.Bound(c => c.DocumentedByName).Sortable(true).Groupable(false).Filterable(false);
                            columns.Bound(c => c.QualityOfLifeNames).Sortable(true).Groupable(false).Filterable(false);
                            columns.Bound(c => c.ReasonsForDischargeName).Sortable(true).Groupable(false).Filterable(false);
                            columns.Bound(c => c.EndDate).Sortable(true).Groupable(false).Filterable(false);
                            columns.Bound(p => p.ErrorMessage).ClientTemplate("<center><a href='/CaseManagement/CaseAssessment/Read/#= ID #?CaseID=#= CaseID #&CaseMemberID=#= CaseMemberID #' style='#= HasPermissionToRead #' class='fa fa-eye' title='Read'></a>&nbsp;<a href='/CaseManagement/CaseAssessment/Edit/#= ID #?CaseID=#= CaseID #&CaseMemberID=#= CaseMemberID #' style='#= HasPermissionToEdit #' class='fa fa-edit' title='Edit'></a>&nbsp;<a name='lnkDelete' id='lnkDeleteCaseMemberProfile' href='/CaseManagement/CaseAssessment/DeleteAjax/#= ID #' style='#= HasPermissionToDelete #' class='fa fa-times' title='Delete'></a></center>").Width("10%").HeaderTemplate("<center>Actions</center>");
                        })
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .Read(read => read.Action("IndexAjax", "CaseAssessment").Data("PassSearchParameter"))
                        .PageSize(50)
                        )
                        .Pageable()
                        .Sortable()
                  )
            </div>
        </div>
    </div>
</div>

